* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Sans-Serif;
}
form {
    background: #2980b9;
    padding: 4px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0;
}
form input {
    font-size: 16px;
    border: 0;
    padding: 10px;
}
form #username {
    width: 20%;
    border-right: solid #2980b9 4px;
}
form #message {
    width: 70%;
}
form button {
    font-size: 16px;
    width: 10%;
    background: #3498db;
    border: none;
    padding: 10px;
    color: #ecf0f1;
}
#messages {
    width:80%;
    float:left;
    list-style-type: none;
    margin: 0;
    padding: 0 0 46px 0;
}
#messages li {
    padding: 5px 10px;
    font-size: 16px;
}
#messages li:nth-child(odd) {
    background: #bdc3c7;
}
#channels {
    width:20%;
    float:left;
    list-style-type: none;
    margin: 0;
    padding: 0 0 46px 0;
}
#channels li {
    padding: 5px 10px;
    font-size: 16px;
}
#channels li:nth-child(even) {
    background: #bdc3c7;
}
